<!--
<div>
  <div>
    <input placeholder="Titulo" (change)="onChangeTitle($event.target.value)">
  </div>
  <div>
    <input placeholder="Link" (change)="onChangeLink($event.target.value)">
  </div>
  <div>
    <button (click)="onButtonSaveClick()">Salvar</button>
  </div>
</div>
-->
<div>
  <div>
    <input placeholder="Titulo" #newTitle>
  </div>
  <div>
    <input placeholder="Link" #newLink>
  </div>
  <div>
    <button (click)="addNewArticle(newTitle, newLink)">Add</button>
  </div>
</div>
